
  
 
    <tr scope = "row">
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.email %></td>
      <td><%= friend.LinkedIn %></td>
      <td><%= link_to "Show", friend%></td>
      <td><%= link_to "Edit", edit_friend_path(friend)%> </td>
      
    </tr>


